*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: serif;
  background-color: #121826;
  height: 500vh; 
  

}

.navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: #0D1B2A;
  opacity: 0.95;
  gap: 20px;
  z-index: 1000;
  padding: 15px 20px;
  cursor: pointer;
}



.logo a{
  font-size: 1.5rem;
  font-weight:700;
  color: rgb(255, 115, 0);
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  left: 10px;
  
}
.logo a:hover{
  color: #0088cc;
}
.nav-menu{
  display: flex;
  list-style: none;

}
.nav-item
{
  margin-left: 2rem;
}
.nav-link{
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}
.nav-link:hover{
  color: orangered;
}
.nav-link::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: orangered;
  transition: width 0.3s ease;
}
.nav-link:hover::after{
  width: 100%;
}

.p1{
  position: relative;
  text-align: center;
 /* top: 98px;*/
  right: 40px;
  translate: translateY(-50%);
  color: white;
  opacity: 100%;
  top: 70px;
  left: 3px;
}
h1{
  font-size: 1.7em;
  position: relative;
  left:10px ;
top: 40%;
  transform: translateY(-50%);
  color: rgb(253, 69, 2);
  opacity: 100%;
  font-weight: bold;
  text-shadow:  2px 2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
justify-content: center;
align-items: center;
}

.header-background{
  position: flex;
  background-image: url('tan.jpg');
  background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  filter: brightness(0.7);
}

.header-background::before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 206px;
  background:rgba(0, 0, 0, 0.5);
   
}

@media screen and  ( max-width: 768px) {
  .navbar{  
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

  }
  .nav-link{
    flex-direction: column;
    width: 50%;
    margin-top: 10px 0;

  }
  .nav-link li{
    margin: 10px 0;
  }
  button{        
    height: 30px;
    width: 100px;
    border-top: 20px;
  }
  
  
  .h2{
    flex-direction: column;
    width: 50%;
    margin-top: 10px 0;
  }
  .card3{
    flex-direction: column;
    align-items: center;
  
  }
  .card1{
    width: 100%;
    min-height: auto;
  }
  .card2{
    width: 100%;
    min-height: auto;
  }
  .div{
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: auto;
    
  
  }
  .weatherforecast{
    flex-direction: column;
    width: 50%;
    min-height: auto;
    
  }
  .weatherforecast.div1.div2.div3.div4.div5.div6.div7{
width: 100%;
min-height: auto;
  
}
.forecast{
  flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: auto; 
}
}
.sun{
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;

  
}

.p2{
  color: orangered;
  position: relative;
  top: 10px;
  left: 50px;
  font-size: 1.5em;
  
}
.p2::after{
  content: "";
  height: 1px;
  width: 156px;
  display: block;
  margin-top: 5px;
  background-color: orangered;


}
.textbox{
  position: relative;
  top: 15px;
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 50px;
  left: 50px;
  color: white;
  background-color: rgb( 51, 51, 51, 0.8) ;
}


 .h2{

  flex-direction: column;
  position: relative;
  left: 50px;
  color: orange;
 }

 button{
  position: relative;
left: 70px;
height: 30px;
width: 99px;
top: 13px;
border: none;
border-radius: 50px;
background-color: orangered;
cursor: pointer;
color: white;

 }

.p3{
  color: orangered;
  position: relative;
  font-size: 1.5em;
  top: 50px;
  left:50px ;

}

.p3::after{
  content: "";
  height: 1px;
  width: 156px;
  display: block;
  margin-top: 5px;
  background-color: orangered;
}
  ::placeholder{
    position: relative;
    left: 10px;
  }

.card1{
  color: orangered;
  position: relative;
  top: 40;
  right:200px;
  height: 200px;
  background-color: #1b263b;
  min-height: 200px;
  width: 280px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card2{
  color: orangered;
  position: relative;
  top: 2px;
  right: 185px;
  flex-direction: column;
  background-color: #1b263b;
  min-height: 200px;
  width: 280px;
  border-radius: 5px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card3{
  color: orangered;
  position: relative;
 top: 2px;
  right: 173px;
  flex-direction: column;
  background-color: #1b263b;
  min-height: 200px;
  width: 280px;
  border-radius: 5px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-info{
  color:white; 
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; 
  top: 70px;
gap: 10px;  
margin-left: 400px; 
right: 200px;
cursor: pointer;
}

.feelslike{
  color:white;
  position: relative;
   left:20px;
   width: 80px;
   top: 20px;
   font-size: 12px;

}
.humidity{
  color: white;
  position: relative;
  left:120px ;
  width: 90px;
  bottom: 50px;
  font-size: 13px;
}
.feelslike1{
  color: white;
  position: relative;
   left:16px;
   top: 20px;
   height: 90px;
   width: 90px;
   font-size: 13px;
}
.degree{
  position: relative;
  color: white;
  left: 7px;
  font-size: 1.7em;
}
.humidity1{
  color: aliceblue;
  position: relative;
  left:130px ;
  bottom: 70px;
  height: 90px;
  width: 90px;
  font-size: 13px;
} 
.feelslike2{
color: white;
  position: relative;
   left:25px;
   top:20px;
   display: flex;
   flex-direction: column;
   height: 90px;
   width: 90px;
   font-size: 13px;
}
.strong{
  font-size: 18px;
  font-weight: bolder;
}
.humidity2{
color: aliceblue;
  position: relative;
  left:140px ;
  bottom: 70px;
  height: 90px;
  width: 90px;
  font-size: 13px;
}
.week1{
    position: relative;
  bottom: 100px;
    color: orangered;
    position: relative;
    font-size: 1.5em;
    left:  5px;
  
  }
  
  .week1::after{
    content: "";
    height: 1px;
    width: 156px;
    display: block;
    margin-top: 5px;
    background-color: orangered;

}
.forecast{
  
  position: relative;

  display: flex;

}
img{
  width: 30px;
  height: 30px;
  position: relative
}


.nyc{
  position: relative;
  color: orangered;
  bottom:  50px;
  right: 140px;
}
.weatherforecast{
  background-color: #1b263b;
 justify-content: center;
 position: relative;
 align-items: center;
gap: 20px;
left: 55px;
 border-radius: 10px;
 top: 130px;
 display: flex;
 flex-wrap: wrap;
height: 150px; 
}

.rain{
  position: relative;
  left: 160px;
  top: 20px;
  height: 50px;
  width: 50px;

}


.div1{
background-color: #070b36;
width: 90px;
height: 100px;
right: 360px;
position: relative;
margin-top: 26px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
cursor: pointer;
}
.city{
  position: relative;
  left:7px ;
  font-size: 1.2em;
}
.mar6{
  position: relative;
  color: white;
  left: 200px;
  bottom: 65px;
  font-size: 15px;
}

.div2{
  background-color: #070b36;
width: 90px;
height: 100px;
right: 360px;
position: relative;
margin-top: 26px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
cursor: pointer;
}
.div3{
background-color: #070b36;
width: 90px;
height: 100px;
position: relative;
right: 360px;
margin-top: 26px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
cursor: pointer;
}
.div4{
  background-color: #070b36;
width: 90px;
height: 100px;
position: relative;
right: 360px;
margin-top: 26px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
cursor: pointer;
}
.div5{
  background-color: #070b36;
width: 90px;
height: 100px;
position: relative;
right: 360px;
margin-top: 26px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
cursor: pointer;
}
.div6{
  background-color: #070b36;
width: 90px;
height: 100px;
position: relative;
right: 360px;
margin-top: 26px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
cursor: pointer;
}
.div7{
  background-color: #070b36;
width: 90px;
height: 100px;
position: relative;
right: 360px;
margin-top: 26px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
cursor: pointer;
}
.color{
  color: orangered;
}

.footers{
  color: orangered;
  font-size: 20px;
}

.foot{
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#011224 ;
  color: white;
}




















